@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variables';

.button {
  @include mixins.reset-button;

  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.1s ease;
  /* NOTE Remove empty space under the image */
  line-height: 0;

  &:hover,
  &:focus-visible {
    background-color: variables.$accent_color;
  }
}
