.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  z-index: 15;
  bottom: 20px;
  right: 20px;
}

/* DESKTOP STYLES */

@media (min-width: 769px) {
  .container {
    bottom: 40px;
    right: 40px;
  }
}
