@use '../../styles/variables';

.container {
  height: 100%;
}

.header {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid black;
  padding: 0 10px;
  background: white;

  & .header_logo a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
  }

  & .header_navigation_bar {
    & ul {
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    & a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 12px;

      &:hover,
      &:focus {
        color: variables.$accent_color;
      }
    }
  }
}

.main_content {
  position: relative;
  z-index: 15;
  /* NOTE For child element full height */
  display: grid;
}

.footer {
  position: relative;
  z-index: 20;
  background-color: black;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-areas:
    'text'
    'navigation'
    'copyright';
  grid-template-columns: 1fr;
  gap: 30px;

  & .footer_text {
    margin: 0;
    grid-area: text;
  }

  & .footer_copyright {
    grid-area: copyright;
    justify-self: flex-start;
  }

  & .footer_navigation_bar {
    grid-area: navigation;
    justify-self: flex-start;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    & a {
      text-decoration: none;
      color: white;
      font-size: 16px;

      &:hover,
      &:focus {
        color: variables.$accent_color;
      }
    }
  }
}

/* DESKTOP STYLES */

/* 
  NOTE
  1. There is probably a better way to do responsive styles in SASS, but for now I used a classic one like this.
  2. I used min-width instead of max-width because it's considered as a better practice (mobile-first design).
*/
@media (min-width: 769px) {
  .header {
    padding: 0 20px;
  }

  .footer {
    grid-template-areas:
      'text navigation'
      'text copyright';
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;

    & .footer_copyright {
      justify-self: flex-end;
    }

    & .footer_navigation_bar {
      justify-self: flex-end;
    }
  }
}
