$header-height-desktop: 60px;
$header-height-mobile: 40px;

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
}

.header {
  height: $header-height-mobile;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid black;
  padding: 2px 10px;

  .header_logo a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
  }

  .header_navigation_bar {
    ul {
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 12px;

      &:hover,
      &:focus {
        color: #ff3d3d;
      }
    }
  }
}

.main_content {
  min-height: calc(100vh - $header-height-mobile);
  display: grid;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-areas:
    'text'
    'navigation'
    'copyright';
  grid-template-columns: 1fr;
  gap: 30px;

  .footer_text {
    margin: 0;
    grid-area: text;
  }

  .footer_copyright {
    grid-area: copyright;
    justify-self: flex-start;
  }

  .footer_navigation_bar {
    grid-area: navigation;
    justify-self: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 16px;

      &:hover,
      &:focus {
        color: #ff3d3d;
      }
    }
  }
}

/* DESKTOP STYLES */
@media (min-width: 769px) {
  .header {
    height: $header-height-desktop;
    padding: 8px 20px;
  }

  .main_content {
    min-height: calc(100vh - $header-height-desktop);
  }

  .footer {
    grid-template-areas:
      'text navigation'
      'text copyright';
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;

    .footer_copyright {
      justify-self: flex-end;
    }

    .footer_navigation_bar {
      justify-self: flex-end;
    }
  }
}
