@keyframes appearing {
  from {
    opacity: 0;
    transform: translate(-50vw, -50vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.item {
  position: absolute;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 8px;
  /* NOTE Remove empty space under the image */
  line-height: 0;
  /* NOTE Disable image selection */
  user-select: none;
  /* NOTE The main trick is to not use "forwards" keyword ("forwards" blocks future transforms). Animation plays and we still can change "transform" later. */
  opacity: 1;
  transform: translate(0, 0);
  animation: appearing 0.25s ease; // NOTE In Safari, the image of an item **sometimes** doesn't appear until animation is complete. I haven't figured out why yet.

  /* NOTE Possible optiomization, but top/left properties only change after dragging, so probably not a big deal (disabled) */
  // will-change: top, left;
}
